<div class="container mt-4 bg-dark" style="max-width: 25vw">
  <img src="/logo.png" class="img-logo-login mb-3" alt="logo">

  <div class="container card bg-transparent border-1 border-line">
    <div class="card-body text-light bg-transparent">
      <p>Username</p>
      <input class="form-control" [(ngModel)]="userLogin.username" placeholder="username"><br/>
      <p>Password</p>
      <input class="form-control" type="password" [(ngModel)]="userLogin.password" placeholder="password"><br/>
    </div>
    <div class="card-footer border-line">
      <button type="button" class="btn btn-outline-line" (click)="login()">Login</button>
    </div>
  </div>

  <div class="text-bg-danger" *ngIf="errorMessage != null">{{errorMessage}}</div>

  <div class="container card bg-transparent mt-4 p-2 border-0">
    <p class="text-light">Not registered yet? </p>
    <button class="nav-link text-light btn btn-outline-topolona bold" routerLink="/signin">Sign in</button>
  </div>
</div>
