<div class="container mt-4 bg-dark" >
  <h3>LOGO</h3>

  <div class="container card bg-transparent border-1 border-line">

    <div class="card-body text-light bg-transparent">
      <p>Username</p>
      <input class="form-control" [(ngModel)]="userLogin.username" placeholder="username"><br/>
      <p>Password</p>
      <input class="form-control" type="password" [(ngModel)]="userLogin.password" placeholder="password"><br/>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-line" (click)="login()">Login</button>
      <a class="nav-link text-light" aria-upper="page" routerLink="/signin" href="">or Signin</a>
    </div>
  </div>
</div>
