.no-achievements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(0, 0, 0, 0.45);
  color: rgb(26, 185, 34) !important;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.custom-card {
  background-color: #222 !important;
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
