<div class="container mt-4 bg-dark">
  <h3>LOGO</h3>

  <div class="container card bg-transparent border-1 border-line">

    <div class="card-body text-light bg-transparent">
      <p>Username</p>
      <input class="form-control" [(ngModel)]="userSignIn.username" placeholder="username"><br/>
      <p>Password</p>
      <input class="form-control" type="password" [(ngModel)]="userSignIn.password" placeholder="password"><br/>
      <p>Email</p>
      <input class="form-control" type="email" [(ngModel)]="userSignIn.email" placeholder="email"><br/>
      <p>Steam ID</p>
      <input class="form-control" [(ngModel)]="userSignIn.steamId" placeholder="steam id"><br/>
      <p>Date of birth</p>
      <input class="form-control" type="date" [(ngModel)]="userSignIn.dateOfBirth"><br/>
    </div>
    <div class="card-footer border-line">
      <button type="button" class="btn btn-line" (click)="signIn()">Register</button>
    </div>
  </div>

  <div class="text-bg-danger" *ngIf="errorMessage != null ">{{errorMessage}}</div>
  <div class="text-bg-light" *ngIf="success != null ">{{success}}</div>

  <div class="container card bg-transparent mt-4 p-2 border-0">
    <p class="text-light">Already registered? </p>
    <button class="nav-link text-light btn btn-outline-danger bold" routerLink="/login">Login</button>
  </div>
</div>

