<div class="container-fluid d-flex flex-column align-items-stretch align-self-stretch p-0 ">
    <!--header-->
    <div class="container-fluid w-10 border-bottom border-1 border-line" style="padding: 0;">
        <!-- Copertina -->
        <div class="profile-container">
            <img [src]="backdropImage " alt="Copertina" class="cover-image">
            <!-- Immagine profilo -->
            <img [src]="profileImage" alt="Profilo" class="profile-image bg-dark">
        </div>
      <!-- meta' inferiore header-->
      <div class="container-fluid  flex-column">
        <div class="row w-100 h1 d-flex justify-content-end text-line bold">{{ userProfile.profileName }}</div><!-- Fourth column aligned right -->
        <div class="row w-100">
          <div class="col d-flex flex-column justify-content-center">
            <span class="h6">Followers:</span>
            <p class="text-topolona">n</p>
            <span class="h6">Following:</span>
            <p class="text-topolona">n</p>
            <button
              class="follow-button btn btn-outline-topolona"
              [class.following]="isFollowing"
              (click)="toggleFollow()">
              {{ isFollowing ? 'Unfollow' : 'Follow' }}
            </button>
          </div>
          <div class="col d-flex flex-column">
            <span class="h6">Steam:</span>
            <p class="text-topolona">{{ userProfile.steamName }}</p>
            <span class="h6">Xbox:</span>
            <p class="text-topolona">xbox{{ userProfile.xboxName }}</p>
            <span class="h6">PlayStation:</span>
            <p class="text-topolona">playstation{{ userProfile.playstationName }}</p>
          </div>
          <div class="col d-flex flex-column justify-content-evenly align-items-center">
            <span class="">Favourite game</span>
            <img
              [src]="imgVideogamePreferred"
              class="w-75 img-thumbnail"
              alt="Preferred Game Image"
              style="width: 13%; aspect-ratio: 1/1; height: auto">
          </div>
          <div class="col d-flex flex-column justify-content-around align-items-center">
            <span class="">Last played</span>
            <img
              [src]="userProfile.lastPlayedGameImgUrl"
              class="w-75 img-thumbnail"
              alt="Last Played Game Image"
              style="width: 13%; aspect-ratio: 1/1; height: auto">
          </div>
        </div>
    </div>

    <div class="row d-flex flex-column align-self-stretch align-items-stretch bg-dark text-light text-center">
      <div class="col border-1 border-line ">
        <div class="container d-flex flex-column bg-transparent border-line text-light" >
          <div *ngFor="let p of allPosts$ | async">
            <app-user-post
              [post] = "p"
              [user] = "userProfile"
              [profileImg]="profileImage"
            ></app-user-post>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
