<div class="container d-flex flex-column justify-content-start align-items-end pb-4" style="height: 100vh;">
  <span class="h1 pb-2 mb-4 flex-grow-4">LOGO</span>
  <h4 class="h4 pb-2 mb-1">Home</h4>
  <h4 class="h4 pb-2 mb-1">Profilo</h4>
  <h4 class="h4 pb-2 mb-1">Attività</h4>
  <h4 class="h4 pb-2 mb-1">Videogames</h4>
  <h4 class="h4 pb-2 mb-1">Wishlist</h4>
  <h4 class="h4 pb-2 mb-1">Recensioni</h4>
  <h4 class="h4 pb-2 mb-1">Amici</h4>
  <div class="mt-auto">
    <h4 class="h4 pb-2 mb-3">Search</h4>
    <button type="button" class="btn btn-outline-danger mt-auto" (click)="logout()">Logout</button>
  </div>

</div>
