<div class="container-fluid d-flex" style="min-height: 100vh;">
  <div class="row w-100 bg-dark text-light text-center">
    <div class="col d-flex flex-column border-end border-line border-2">
      1 of 3
    </div>
    <div class="col-5 d-flex justify-content-center border-end border-line border-2" style="padding: 0">
<!--      <router-outlet></router-outlet>-->
      <app-user-profile-page></app-user-profile-page>
    </div>
    <div class="col d-flex flex-column">
      3 of 3
    </div>
  </div>
</div>
