<div class="container-fluid d-flex" style="min-height: 100vh;">
  <div class="row w-100 bg-dark text-light text-center">
    <div class="border-end border-line border-2 col d-flex flex-column">
      <app-left-navbar></app-left-navbar>
    </div>
    <div class="col-5 d-flex flex-column align-self-stretch align-items-stretch border-end border-line border-2">
      <router-outlet></router-outlet>
    </div>
    <div class="col d-flex flex-column">
      <app-recommended-games *ngIf="inLogin()"></app-recommended-games>
    </div>
  </div>
</div>
