<div class="container card bg-transparent border-1 border-line" style="width: 70%; margin-top: 20px">
  <div class="card-body text-light bg-transparent">
    <div class="row text-start">
      <p>Potrebbero piacerti...</p>

      <!-- Prima riga -->
      <div class="d-flex align-items-center">
        <img
          src="https://picsum.photos/536/354"
          alt="thumbnail"
          style="width: 35px; height: 35px; border-radius: 50%; border: 1px solid white;">
        <p class="col ms-3 mb-0">Nome videogioco</p>
      </div>
      <br/>
      <br/>

      <!-- Seconda riga -->
      <div class="d-flex align-items-center">
        <img
          src="https://picsum.photos/536/354"
          alt="thumbnail"
          style="width: 35px; height: 35px; border-radius: 50%; border: 1px solid white;">
        <p class="col ms-3 mb-0">Nome videogioco</p>
      </div>
      <br/>
      <br/>

      <!-- Terza riga -->
      <div class="d-flex align-items-center">
        <img
          src="https://picsum.photos/536/354"
          alt="thumbnail"
          style="width: 35px; height: 35px; border-radius: 50%; border: 1px solid white;">
        <p class="col ms-3 mb-0">Nome videogioco</p>
      </div>
      <br/>
      <br/>

      <!-- Bottone -->
      <div class="d-flex justify-content-end mt-auto">
        <button type="button" class="btn btn-outline-line">Altro</button>
      </div>
      <br/>
      <br/>
    </div>
  </div>
</div>
