<div class="container card bg-transparent border-1 border-line" style="width: 70%;">
  <div class="card-body text-light bg-transparent">
    <div class="row text-start">
      <p>You may also like...</p>


      <div *ngFor="let recommendation of recommendations">
        <div class="d-flex align-items-center">
          <img
            src="{{recommendation?.iconImgUrl}}"
            alt="thumbnail"
            style="">
        </div>
        <p class="col ms-3 mb-0" [title]="recommendation?.videogameName">
          {{ truncateText(recommendation?.videogameName, 20) }}
        </p>
        <p class="col ms-3 mb-0 small" [title]="recommendation?.developers">
          {{ truncateText(recommendation?.developers, 20) }}
        </p>
        <a type="button" class="btn btn-outline-line py-1 px-2 w-auto mt-2 mb-2"
           [routerLink]="['/videogame-detail',recommendation?.appId]"
        >details</a>
      </div>
      <br/>
      <br/>

      <!-- Bottone -->
      <div class="d-flex justify-content-end mt-auto">
        <button type="button" class="btn btn-outline-line"
        (click)="showOthersRecommendations()"
        >Others</button>
      </div>
      <br/>
      <br/>

    </div>
  </div>
</div>
