<div class="container card bg-transparent border-1 border-line" style="width: 70%; margin-top: 20px">
  <div class="card-body text-light bg-transparent">
    <div class="row text-start">
      <p>Potrebbero piacerti...</p>
      <span class="row">
        <img src="https://picsum.photos/536/354" alt="thumbnail" class="vgthumb">
        <p class="col-9 align-items-center">Nome videogioco</p>
      </span>
      <span class="row">
        <img src="https://picsum.photos/536/354" alt="thumbnail" class="vgthumb">
        <p class="col-9 align-items-center">Nome videogioco</p>
      </span>
      <span class="row">
        <img src="https://picsum.photos/536/354" alt="thumbnail" class="vgthumb">
        <p class="col-9 align-items-center">Nome videogioco</p>
      </span>
      <button type="button" class="btn btn-outline-line">Altro</button>
    </div>
  </div>
</div>
