<div class="container mt-4 py-3" style="min-height: 100px">
  <div class="card bg-transparent border-1 border-line d-flex flex-column justify-content-between shadow-sm" style="min-height: 20vh">

    <!-- card header -->
    <div class="card-header d-flex align-items-center">
      <img id="post-user-image"
           [src]="profileImage ? profileImage : 'https://img.freepik.com/premium-photo/empty-brown-white-studio-backdropabstract-gradient-grey-background_861973-224.jpg'"
           style="width: 35px; height: 35px; border-radius: 50%;">
      <p class="ms-3 mb-0 border-3 border-darker text-light">
        {{ userProfile.profileName }}
      </p>
    </div>

    <!-- card body -->
    <div class="row w-100 text-light">
      <div class="col d-flex flex-column justify-content-center align-items-center m-3">
        <span class="py-2">Favourite game</span>
        <img
          [src]="imgVideogamePreferred"
          class="w-50 img-thumbnail"
          alt="Preferred Game Image"
          [title]="nameVideogamePreferred"
          style="max-width: 40%;aspect-ratio: 1/1;">
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-center m-3">
        <span class="py-2">Last Played</span>
        <img
          [src]="userProfile.lastPlayedGameImgUrl"
          class="w-50 img-thumbnail"
          alt="Preferred Game Image"
          [title]="userProfile.lastPlayedGameName"
          style="max-width: 40%;aspect-ratio: 1/1;">
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <a type="button" class="btn btn-outline-line py-1 px-2 w-auto"
           (click)="navigateToExternalUser()"
        >Go to Profile
        </a>
      </div>
    </div>

    <!-- card footer -->
    <div class="card-footer d-flex justify-content-start align-items-center">
<!--      <a type="button" class="btn btn-outline-danger py-1 px-2 w-auto small"-->
<!--      (click)="deleteFollowing()">Remove</a>-->
    </div>
  </div>
</div>
