<div class="container mt-4 py-3" style="min-height: 100px">
  <div class="card bg-transparent border-1 border-line d-flex flex-column justify-content-between shadow-sm" style="min-height: 20vh">

    <!-- card header -->
    <div class="card-header d-flex align-items-center">
      <img id="post-user-image"
           src="https://picsum.photos/536/354"
           style="width: 35px; height: 35px; border-radius: 50%;">
      <p class="ms-3 mb-0 border-3 border-darker text-light">
        nome amico
      </p>
    </div>

    <!-- card body -->
    <div class="row w-100 text-light">
      <div class="col d-flex flex-column justify-content-center align-items-center m-3">
        <span class="">Favourite game</span>
        <img
          src="https://picsum.photos/536/354"
          class="w-50 img-thumbnail"
          alt="Preferred Game Image"
          style="aspect-ratio: 1/1;">
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-center m-3">
        <span class="">Last Played</span>
        <img
          src="https://picsum.photos/536/354"
          class="w-50 img-thumbnail"
          alt="Preferred Game Image"
          style="aspect-ratio: 1/1;">
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <a type="button" class="btn btn-outline-line py-1 px-2 w-auto">
          Go to Profile
        </a>
      </div>
    </div>

    <!-- card footer -->
    <div class="card-footer d-flex justify-content-start align-items-center">
      <a type="button" class="btn btn-outline-danger py-1 px-2 w-auto small">Remove friend</a>
    </div>
  </div>
</div>
