@import "bootstrapCustomizzato";

body {
  font-family: "Kodchasan", sans-serif;
}

.img-thumbnail {
  padding: 2px;

}

/* Remove the underline */
.custom-link {
  text-decoration: none;
}

/* Set default text color to white */
.custom-link .h3 {
  color: white;
  transition: color 0.3s ease;
}

/* Set hover color to green */
.custom-link:hover .h3 {
  color: rgb(26, 185, 34); /* Custom green color */
}

/* Optional: If you want to change the icon color on hover as well */
.custom-link:hover svg {
  fill: rgb(26, 185, 34); /* Change icon color to green on hover */
}

/* Per il link attivo, mantieni il colore personalizzato */
a.custom-link.active .h3 {
  color: #B91A91; /* Colore desiderato per il link attivo */
}

/* (Opzionale) Cambia anche il colore dell'icona per il link attivo */
a.custom-link.active svg {
  fill: #B91A91; /* Stesso colore per l'icona */
}

.username {
  text-decoration: none;
}

.username .p {
  color: white;
}

.username:hover {
  color: rgb(26, 185, 34);
}

.img-logo-login {
  width: 200px;
  height: auto;
}

.img-logo {
  width: 100px;
  height: auto;
}
