<div class="container-fluid d-flex flex-column align-items-stretch align-self-stretch p-0 ">
    <!--header-->
    <div class="container-fluid w-10 border-bottom border-1 border-line" style="padding: 0;">
        <!-- Copertina -->
        <div class="profile-container">
              <!-- Immagine backdrop -->
            <img (click)="openBackdropModal()"
                 [src]="backdropImage ? backdropImage : 'https://img.freepik.com/premium-photo/empty-brown-white-studio-backdropabstract-gradient-grey-background_861973-224.jpg'"
                 alt="Copertina" class="cover-image">
              <!-- Immagine profilo -->
            <img (click)="openProfiledModal()"
                 [src]="profileImage ? profileImage : 'https://img.freepik.com/premium-photo/empty-brown-white-studio-backdropabstract-gradient-grey-background_861973-224.jpg'"
                 alt="Profilo" class="profile-image bg-dark">
        </div>
      <!-- meta' inferiore header-->
        <div class="container-fluid  flex-column">
          <div class="row w-100 h1 d-flex justify-content-end text-line bold">{{ userProfile.profileName }}</div><!-- Fourth column aligned right -->
          <div class="row w-100">
            <div class="col d-flex flex-column justify-content-center">
              <span class="h6">Followers:</span>
              <p class="text-topolona">{{ userProfile.followingCount }}</p>
              <span class="h6">Following:</span>
              <p class="text-topolona">{{userProfile.followersCount}}</p>
            </div>
            <div class="col d-flex flex-column">
              <span class="h6">Steam:</span>
              <p class="text-topolona">{{ userProfile.steamName }}</p>
              <span class="h6">Xbox:</span>
              <p class="text-topolona">xbox{{ userProfile.xboxName }}</p>
              <span class="h6">PlayStation:</span>
              <p class="text-topolona">playstation{{ userProfile.playstationName }}</p>
            </div>
            <div class="col d-flex flex-column justify-content-evenly align-items-center">
              <span class="">Favourite game</span>
              <img
                [src]="imgVideogamePreferred"
                class="w-75 img-thumbnail"
                alt="Preferred Game Image"
                style="width: 13%; aspect-ratio: 1/1; height: auto">
            </div>
            <div class="col d-flex flex-column justify-content-around align-items-center">
              <span class="">Last played</span>
              <img
                [src]="userProfile.lastPlayedGameImgUrl"
                class="w-75 img-thumbnail"
                alt="Last Played Game Image"
                style="width: 13%; aspect-ratio: 1/1; height: auto">
            </div>
          </div>
    </div>
    </div>
    <div class="row my-5 d-flex flex-column align-self-stretch align-items-stretch bg-dark text-light text-center ">
        <div class="col border-1 border-line ">
            <div class="container d-flex flex-column bg-transparent border-line text-light" >
                <div class="container text-light card bg-transparent border-2 border-line d-flex flex-column">
                    <div class="card-body">
                        <p>New Post</p>
                        <input
                            class="input-group bg-transparent text-light border-1 border-line"
                            type="text"
                            placeholder="Write Something..."
                            [(ngModel)]="newPost.content">
                    </div>
                    <div class="card-footer ">
                        <button class="btn btn-line" (click)="makeAPost()">Post</button>
                    </div>
                </div>
                <div *ngFor="let p of allPosts$ | async">
                    <app-user-post
                    (delete)="deletePost($event)"
                    [post] = "p"
                    [user] = "userProfile"
                    [profileImg]="profileImage ? profileImage : 'https://img.freepik.com/premium-photo/empty-brown-white-studio-backdropabstract-gradient-grey-background_861973-224.jpg'"
                    ></app-user-post>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Backdrop Modal -->
<div *ngIf="isBackdropModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>Change Backdrop Profile Image</h2>
    <input type="file" (change)="backdropFileChangeEvent($event)" />

    <image-cropper
      [imageChangedEvent]="backdropImageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="500"

    format="png"
      (imageCropped)="backdropImageCropped($event)"
      (imageLoaded)="backdropImageLoaded($event)"
      (cropperReady)="backdropCropperReady()"
      (loadImageFailed)="backdropLoadImageFailed()"
    ></image-cropper>

    <img [src]="backdropCroppedImage" class="preview-image" />
    <button class="btn btn-line" (click)="saveBackdropCroppedImage()">Save</button>
    <button class="btn btn-danger" (click)="closeBackdropModal()">Cancel</button>
  </div>
</div>

<!-- Profile IMG Modal -->
<div *ngIf="isProfileModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>Change Profile Image</h2>
    <input type="file" (change)="profileFileChangeEvent($event)"/>

    <image-cropper
      [imageChangedEvent]="profileImageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="500"

      format="png"
      (imageCropped)="profileImageCropped($event)"
      (imageLoaded)="profileImageLoaded($event)"
      (cropperReady)="profileCropperReady()"
      (loadImageFailed)="profileLoadImageFailed()"
    ></image-cropper>

    <img [src]="profileCroppedImage" class="preview-image"/>
    <button class="btn btn-line" (click)="saveProfileCroppedImage()">Save</button>
    <button class="btn btn-danger" (click)="closeProfileModal()">Cancel</button>
  </div>
</div>
